* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    background: black;
    position: absolute;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.button-std {
    color: #fff;
    background-color: dodgerblue;
    background: linear-gradient(rgb(54, 135, 216), rgb(9, 88, 166));
    padding: 4px 8px;
}

.menu {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 5%;

    transition: 0.1s;
    font-size: 0.8rem;
    padding: 8px;

    position: fixed;
    bottom: 0;
    right: 0;
}

.menu:hover {
    opacity: 100%;
}

.menu-pinned {
    opacity: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-start {
    align-items: start;
}

.items-end {
    align-items: end;
}

.content-space-between {
    justify-content: space-between;
}

.grid-200-100 {
    display: grid;
    grid-template-columns: 200px 100px;
}

.grid-auto-auto {
    display: grid;
    grid-template-columns: auto auto;
}

.gap-8 {
    gap: 8px;
}

.py-8 {
    padding: 8px 0;
}

.w-100p {
    width: 100%;
}

.text-underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.text-bold {
    font-weight: bold;
}